{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
    <title>Modelo</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body>


    {% block menu %}
    <div class="bg-light">
        Código do meu menu
    </div>
    {% endblock %}

    {% block destaque %}
    <div class="bg-secondary">
        Figuras de destaque
    </div>
    {% endblock %}


    <main class="container">
        {% block conteudo %}
        <h1>Template Modelo</h1>
        <p>Este é um modelo de página.</p>
        {% endblock %}
    </main>

    {% block rodape %}
    <footer class="bg-light">
        Rodapé
    </footer>
    {% endblock %}

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>